.icon-delete {
    background-image: url(/resources/image/delete.png) !important;
}
.icon-add {
    background-image: url(/resources/image/add.png) !important;
}
.icon-logout {
    background-image: url(/resources/image/logout.png) !important;
}
.icon-run {
    background-image: url(/resources/image/run.png) !important;
}